*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  background-color: pink;
  height: 100vh;
  place-content: center;
  display: grid;
}

.container{
  background-color: white;
  height: 80vh;
  width: 50vh;
  display: grid;
  border-radius: 50px;
  place-content: center;
  }

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  cursor: pointer;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.screen{
  grid-column:1/ span 4;
  background-color: white;
  place-content: left;
  color: gray;
}

.btn{
  display: grid;
  background-color: #fad0de;
  color: gray;
  font-weight: normal;
  border-radius: 50px;
  place-content: center;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer; 
  box-shadow: 1px 1px 1px 1px rgb(223, 223, 223) ;
  box-sizing: content-box;
}
.btn:hover{
  background-color: #f5a4c5;
  color:white;
}

.btn.operator{
  background-color: #442342;
  color:whitesmoke;
}

.btn.operator:hover{
  background-color: #660f53;
  color: #442342;
}

.btn.equals{
  background-color: #442342;
  color: whitesmoke;
  grid-column: 3/ -1;
  border-radius: 50px;
}

.btn.equals:hover{
  background-color: #660f53;
}